body
	background: #05888F !important
	width: 100% !important
	overflow-x: hidden !important
	position: relative !important


::-webkit-scrollbar-track 
    background-color: $preto-italico

::-webkit-scrollbar 
    width: 6px;
    background: #F4F4F4

::-webkit-scrollbar-thumb 
    background: $laranja
    border-radius: 12px

::-webkit-scrollbar-track-piece
	border-radius: 12px





.bg
	position: relative
	z-index: 100
	height: auto
	width: 100%



	img 
		width: 100%
		height: auto
		position: relative 