@import molecules/mixins

.allog
	+flexbox 
	justify-content: center
	margin-top: 30px
.logo
	+flexbox
	justify-content: center
	z-index: 107
	position: relative
	background: $branco
	width: 272px
	height: 300px
	padding: 3px
	border-radius: 12px

	img
		width: 239px
		height: 286px


