@import molecules/mixins
footer
	background: $preto-italico
	position: absolute 
	padding: 15px
	width: 100% !important

	.credit
		+flexbox 
		flex-direction: column

		.real 
			+flexbox 
			justify-content: center

			h2 
				font-family: Open Sans
				text-transform: uppercase
				color: $branco
				font-size: 25px

		.assinatura
			+flexbox 
			justify-content: center
			
			img
				width: 249px
				height: 108px

		.creci
			+flexbox 
			justify-content: center
			margin-top: 8px

			p 
				font-family: Open Sans
				text-transform: uppercase
				font-size: 15px
				color: $branco
				text-align: center

	.incorporacao

		p
			font-family: Open Sans
			color: $branco 
			font-size: 15px
			text-align: justify


	.copyright

		p
			font-family: Open Sans
			color: $branco 
			font-size: 15px
			text-align: center

	




