@import molecules/mixins
footer
	background: $preto-italico
	position: absolute !important
	padding: 15px
	width: 100%



	.credit

		.real
			+flexbox
			justify-content: center

			h2
				font-family: Open Sans
				font-size: 30px
				color: $branco
				text-transform: uppercase 

		.assinatura
			+flexbox
			justify-content: center

			img
				width: 368px
				height: 159px
				position: relative

		.creci
			+flexbox 
			justify-content: center
			margin-top: 10px

			p 
				font-family: Open Sans
				font-size: 20px
				text-transform: uppercase
				color: $branco

	.contato

		.celular
			+flexbox
			justify-content: center

			img
				width: 35px
				height: 35px

			p 
				font-family: Open Sans
				font-size: 25px
				color: $branco
				margin-left: 15px
				margin-top: -5px

		.telefone
			+flexbox
			justify-content: center

			img
				width: 35px
				height: 35px

			p 
				font-family: Open Sans
				font-size: 25px
				color: $branco
				margin-left: 15px
				margin-top: -3px

		.e-mail
			+flexbox 
			justify-content: center 

			p
				font-family: Open Sans
				font-size: 25px
				color: $branco 



