@import molecules/mixins
section
	z-index: 105
	display: none
	height: 570px

	+breakpoint($desktop-med)
		height: 540px

	+breakpoint($tablet-2)
		height: 530px

	+breakpoint($smartphone-landscape-s)
		height: 610px

	


	
	.ultraflex
		+flexbox
		justify-content: center
		position: relative


	.info 
		background: rgba(91,91,91,0.5)
		width: 706px
		height: 520px
		padding: 10px
		border-radius: 12px

		+breakpoint($desktop-med)
			width: 500px
			height: 480px

		+breakpoint($tablet-2)
			margin-top: 5px

		+breakpoint($smartphone-landscape-s)
			width: 70%
			height: auto

	

		p 
			text-align: center
			color: $branco
			font-size: 23px
			position: relative

			+breakpoint($desktop-med)
				font-size: 20px

		form
			+flexbox 
			flex-direction: column
			position: relative

			label

				input
					width: 100%
					height: 41px
					border: 2px solid $preto-italico
					border-radius: 12px
					padding: 5px
					+placeholder($preto-italico)
					color: $preto-italico
					+transition(.5s)
					outline: none

					+breakpoint($desktop-med)
						height: 30px

					&:hover
						border: 2px solid $laranja

					&:focus
						border: 2px solid $laranja
						outline: none

			button
				width: 100%
				height: 41px
				border: none
				cursor: pointer
				background: $preto-italico
				color: $branco
				font-size: Hero
				text-transform: uppercase
				outline: none
				border-radius: 12px
				font-size: 20px
				+transition(.5s)
				margin-top: 15px
				position: relative

				+breakpoint($desktop-med)
					height: 30px

				&:hover
					background: $laranja

				&:focus
					background: $laranja
					outline: none



